<section class="about-us">
    <div class="col-lg-8 col-sm-8 about-us_page">
        <h1 class="text-center">
            <b>About</b>
        </h1>
        <div class="main">
            <p>
                Our hospital is backed by advanced technology,
                a panel of leading doctors in virtually every speciality along with a team of dedicated support
                staff,the hospital is dedicated to putting its patients at the heart of its everyday operations.
            </p>
            <div class="col-md-4 col-lg-4 col-sm-4 follow text-center">
                <h4>Follow Us</h4>
                <a href="#">facebook</a>
                <a href="#"> linkedin </a>
                <a href="#"> youtube </a>
                <a href="#"> instagram</a>

            </div>
        </div>
    </div>
</section>