.about-us{
    background-color:aliceblue;
    width: 100%;
}
.follow{
    
    color: black;
    font-weight: bold;
    padding-top: 30%;
    text-align: center;

}
@media screen and (max-width:100%){
    .follow a 
    {
        padding:0% 2% 0% 2%;

    }
    
}