.book-appointment
{
    background-color:aliceblue;
    padding: 1%;
    width:100%
}
.login
{

    background-color: white;
    padding: 0% 2% 1% 2%;
    margin: 1% 30% 5% 30%;
}
.error-msg
{
    color: red;
}


@media screen and (max-width:600px) {
    .book-appointment
{
    background-color:aliceblue;
    padding: 3% 4% 3% 4%;
    
}

}
