<div id="emergency-casualty-main">
  <div
    class="emergency-casualty-description col-sm-6 col-md-6 col-lg-6 col-xl-6"
  >
    <h5>Emergency & Casualty</h5>
    <p id="emergency-casualty-description">
      The department is located on Ground Floor of Lifeplus Hospital Building
      and provides emergency medical services 24 hrs. a day, 7 days a week,
      manned by qualified team of doctors and para-medical staff with all
      essential medical facilities. It also has an attached minor operation
      theatre.
    </p>
  </div>
  <div class="table-div col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Location</td>
          <td>Ground Floor. LC</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Emergency Hotline Number</td>
          <td>1800 242 242</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Service Timing</td>
          <td>24 hours Daily</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
