<div id="emergency-casualty-main">
  <div class="emergency-image">
    <img src="./../..//../assets/emergency.jpg" alt="emergency_image" width="100%" />
  </div>
  
  <div
    class="emergency-casualty-description col-sm-7 col-md-7 col-lg-7 col-xl-7"
  >
   <h1> Because Every Life Is A Precious Miracle... </h1>
   <p> Every life is a gift, a precious miracle. But  in the blink of an eye, everything can change. A sudden fatal injury or accident can destroy lives. A medical emergency is an injury or illness that is acute and poses an immediate risk to a person's life requiring instant assistance and help from professionals, which may involve multiple levels of care & treatment. LifePlus introduces a 24x7 Accidental and Emergency Centre - the largest in the city which promises to consider each & every human life equally precious and make sure to be present at any given medical emergency. </p>
   <p> The fully equipped 24x7 Emergency and casualty Centre with an aim to touch many lives, promises ease to those frowns on the anxious faces waiting outside, constantly speculating every second - what will happen next, silently praying to the Supreme Power to save that precious life struggling for every breath. Lifecare Super Speciality Hospital has a team of super-specialized experts who are trained to treat the person in need, in a very effective way, by application of cutting-edge technology supported by a state-of-the-art infrastructure for patient care and comfort. Lifecare Hospital's objective is to reach more human lives who are in need of immediate medical attention, at the right time. Every medical emergency is a fight against time, a fight for life. And we, at  Lifecare Super Speciality Hospital, intend to win this fight.
</p>
  </div>
  <div class="table-div col-sm-4 col-md-4 col-lg-4 col-xl-4">
	  <table class="table">
		  <thead>
			  <tr>
				  <th scope="col">#</th>
				  <th scope="col">First</th>
				  <th scope="col">Detail</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Location</td>
					<td>Ground Floor. LC</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Emergency Hotline Number</td>
					<td>1800 242 242</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Service Timing</td>
					<td>24 hours Daily</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	
	
	<p>
		The department is located on Ground Floor of Lifeplus Hospital Building
		and provides emergency medical services 24 hrs. a day, 7 days a week,
		manned by qualified team of doctors and para-medical staff with all
		essential medical facilities. It also has an attached minor operation
		theatre.
      </p>