img{
  margin-left: 5vw;
  display: inline;
}

p{
  display: inline;
  margin-top: 2.5vh;
  margin-left: 1vw;
  margin-right: 5vw;
  font-family: 'Merriweather';
  font-size: 0.75em;
  color: white;
}

.header-content{
  background-color: #003257;
}

@media only screen and (max-width: 800px) {
  p{
    visibility: hidden;
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  img{
    display: inline;
    margin-right: 20%;
  }
}
