<div class="header-content">
  <!-- Mastek millenium centre,Millenium business park, mahape TTC,Navi Mumbai 400710 -->
  <table>
    <tr>
      <td>
        <a href="https://goo.gl/maps/n599vN6MUNAyxhZJ8">
        <img src="https://img.icons8.com/fluency/96/000000/worldwide-location.png" height="30" width="30">
        <P class="d-xs-none"> Lifeplus business park, Mahape TTC, Navi Mumbai - 400 710</P>
      </a>
    </td>
      <td>
        <img src="https://img.icons8.com/flat-round/96/ffffff/phone.png" height="30" width="30">
        <p class="d-xs-none"> (+91) 987-654-3210 / (0215) 778-798 </p>
      </td>
      <td>
        <img src="https://img.icons8.com/color/96/000000/circled-envelope.png" height="35" width="35">
        <p class="d-xs-none"> contactus@lifeplus.co.in </p>
      </td>
    </tr>
  </table>
</div>
