.home-tagline{
  height: 20%;
}
.home-tagline h1 {
  font-size: 3rem;
  color: var(--black);
  margin-left: 30%;
}

.home-tagline a{
  margin-left: 20%;
}
.home-tagline h1 span {
  color: var(--blue);
}
.home-tagline h3  {
  color: var(--black);
  font-size: 2rem;
  margin-left: 65%;
}

.button{
   height: 2%;
   width: 10%;
   background: var(--blue);
   color: #fff;
   font-size: 1.3rem;
   text-transform: capitalize;
   cursor: pointer;
   position: relative;
   z-index: 0;
   overflow: hidden;
   border-radius: 0.5rem;
   margin: 1rem 0;
   margin-left: 20%;
}

.button::before{
   content: ' ';
   position: absolute;
   top: -100%;left: 0;
   height: 100%;
   width: 100%;
   background-color: var(--black);
   z-index: -1;
}
.button:hover:before{
   top: 0%;
   transition: .2s linear;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 0.2s linear;
}
*::selection {
  background: var(--black);
  color: #fff;
}

.logo {
  font-size: 3rem;
}
.logo a {
  color: var(--black);
}
.logo a:hover {
  color: var(--blue);
}

.logo span {
  color: var(--blue);
}
.carouselExampleIndicators{
  height: 10%;
}
/* @media (max-width: 768px) {
  html {
    font-size: 55%;
  }
} */
