
<div class="sticky-top">
  <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <img src="../assets/sarmi2-09.jpg" alt="logo" height="60" width="60" />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sample collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="/homepage" routerLinkActive="false"
            >Home
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Patient section
          </a>
          <div
            style="background-color: #005c90"
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item"
                >Available Treatments<Span class="arrow">&raquo;</Span></a
              >
              <ul class="dropdown-menu dropdown-submenu">

                <li>
                  <a class="dropdown-item" routerLink="/cardiology"
                  >Cardiology
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
                <a class="dropdown-item" routerLink="/oncology">Oncology</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
                <a class="dropdown-item" routerLink="/dentistry">Dentistry</a>
              </li>
                <li>
                  <hr class="dropdown-divider" />
                  <a class="dropdown-item" routerLink="/orthopaedics"
                    >Orthopaedics
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                  <a class="dropdown-item" routerLink="/neurology">Neurology</a>
                </li>
              </ul>
            </li>
            <li>
              <hr class="dropdown-divider" />
              <a class="dropdown-item" routerLink="/emergency-casaulty">
                Emergency/Casualty</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
              <a class="dropdown-item" routerLink="/accommodation">Accommodation</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
              <a class="dropdown-item" routerLink="canteen-service">Canteen Service</a>
            </li>
            <li style="margin-bottom: 10px">
              <hr class="dropdown-divider" />
              <a class="dropdown-item" routerLink="available-gov-schemes">Available Government Schemes</a>
            </li>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Doctors Section
          </a>
          <div style="background-color: #005c90" class="dropdown-menu">
            <li>
              <a class="dropdown-item"
                >Doctors<Span class="arrow">&raquo;</Span></a
              >
              <ul class="dropdown-menu dropdown-submenu">

                <li>
                  <a class="dropdown-item" routerLink="/drPrajapati"
                  >Dr M. Prajapati
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
                <a class="dropdown-item" routerLink="/drJadhav">Dr R. Jadhav</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
                <a class="dropdown-item" routerLink="/drSharma">Dr S. Sharma </a>
              </li>
                <li>
                  <hr class="dropdown-divider" />
                  <a class="dropdown-item" routerLink="/drPatil"
                    >Dr V. Patil
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                  <a class="dropdown-item" routerLink="/drDhawan">Dr N. Dhawan</a>
                </li>
              </ul>
            </li>
          </div>
        </li>
        <!-- <li></li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about-us"
            routerLinkActive="false"
            aria-haspopup="true"
            aria-expanded="false"
            >About-us
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact-us"
            routerLinkActive="false"
            aria-haspopup="true"
            aria-expanded="false"
            >Contact-us
          </a>
        </li>

        <form class="form-inline">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </ul>
    </div>
  </nav>
</div>

