<footer class="text-white pt-5 pb-4 footer-content">
  <div class="container text-centre text-md-left">
    <div class="row text-centre text-md-left">
      <div class="col-md-4 col-lg-4 col-xl-5 mx-auto text-justify footer-main-paragraph">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          Lifeplus
        </h5>
        <p class="footer-para">
          Lifeplus, a 200-bed multi-specialty hospital in Mumbai is the hallmark
          of international quality healthcare standards for more than two
          decades. Patients can avail services of highly skilled team of
          clinicians and well-trained staff with cutting-edge technology.</p>
        <p class="footer-para">
          The centre provides a comprehensive treatment approach across multiple specialties. The hospital provides comprehensive care for Cardiology, Neurology, Orhopedics, Dentistry among others.
        </p>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 footer-services">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Services</h5>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Cardiology</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Orthopedics</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Neurology</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Oncology</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Dentistry</a>
        </p>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto footer-quick-links">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful Links</h5>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Book an appointment</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Make Enquiry</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Careers</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Gallary</a>
        </p>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Sitemap</a>
        </p>
      </div>
    </div>
  </div>
</footer>
